
.layout_1 {
    position: absolute;
    top: 656px;
    left: 74%;
    width: 88px;
    height: 81px;
    background: url('/assets/fragments/Layer_1.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_2 {
    position: absolute;
    top: 595px;
    right: 6%;
    width: 50px;
    height: 65px;
    background: url('/assets/fragments/Layer_1-1.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_3 {
    position: absolute;
    top: 552px;
    right: 13%;
    width: 39px;
    height: 50px;
    background: url('/assets/fragments/Layer_1-2.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_4 {
    position: absolute;
    top: 495px;
    right: 29%;
    width: 28px;
    height: 29px;
    background: url('/assets/fragments/Layer_1-3.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_5 {
    position: absolute;
    top: 650px;
    right: 39%;
    width: 15px;
    height: 18px;
    background: url('/assets/fragments/Layer_1-4.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_6 {
    position: absolute;
    top: 596px;
    left: 30.5%;
    width: 10px;
    height: 16px;
    background: url('/assets/fragments/Layer_1-5.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_7 {
    position: absolute;
    top: 632px;
    left: 14%;
    width: 44px;
    height: 20px;
    background: url('/assets/fragments/Layer_1-6.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_8 {
    position: absolute;
    top: 414px;
    left: 14.5%;
    width: 41px;
    height: 47px;
    background: url('/assets/fragments/Layer_1-7.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_9 {
    position: absolute;
    top: 656px;
    left: 31%;
    width: 35px;
    height: 28px;
    background: url('/assets/fragments/Layer_1-8.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_10 {
    position: absolute;
    top: 533px;
    left: 4%;
    width: 73px;
    height: 70px;
    background: url('/assets/fragments/Layer_1-9.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }

.layout_11 {
    position: absolute;
    top: 726px;
    right: 37%;
    width: 17px;
    height: 28px;
    background: url('/assets/fragments/Layer_1-10.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
 }