.wrapper {
    position: relative;
    width: 100vw;
    height: 84px;
    left: 0;
    display: flex;
    justify-content: center;
}

.strip {
    position: absolute;
    display: flex;
    width: calc(100% + 100px);
    color: #fff;
    height: 86px;
    transform: rotate(-4.5deg);
    z-index: 2;
    &::before {   
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url('/assets/noise.png');
        background-size: contain;
        background-repeat: repeat;
        opacity: 0.05;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(62, 93, 148, 0.6);
        backdrop-filter: blur(15px);
        border: 2px solid #fff;
        border-left: none;
        border-right: none;
    }

    &--mirrored {
        transform: rotate(4.5deg);
        z-index: 1;
        &::after {
            background-color: rgba(90, 62, 148, 0.5);
        }
    }

    @media (max-width: 1200px) {
        transform: rotate(-7deg);
        &--mirrored {
            transform: rotate(7deg);
        }
    }
    @media (max-width: 764px) {
        height: 15vw;
    }
}

.text_container {
    position: relative;
    z-index: 3;
    padding: 0 140px 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'KingOfThieves';
    font-size: 18px;
    word-spacing: nowrap;
    animation: animate_mirrored 180s linear infinite;
    gap: 140px;
    animation-delay: -180s;

    & > span {
        position: relative;
        
        &:nth-child(4n)::before {
            content: '$';
            font-size: 39px;
            font-family: 'ThunderousOne';
            font-weight: 400;
            position: absolute;
            left: -18px;
            top: -10px;
        }
    }

    &--second {
        animation: animate-two_mirrored 180s linear infinite;
        animation-delay: -90s;
        color: #fff;
    
    }

    
    &--second-mirrored {
        animation: animate-two 180s linear infinite;
        animation-delay: -90s;
        color: #fff;
    }
    &--mirrored {
        animation: animate 180s linear infinite;
    }
    

    

    @media (max-width: 764px) {
        font-size: 4vw;

        & > span {
            &:nth-child(4n)::before {
                font-size: 8vw;
                left: -4vw;
                top: -1.5vw;
            }
        }
    }
}

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate-two {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animate_mirrored {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate-two_mirrored {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}