.wrapper {
    background-image: url('/assets/bg1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 805px;
    position: relative;

    &--second {
        background-image: url('/assets/bg.png');
    }

    @media (max-width: 1200px) {
        height: 100vw;
    }

    @media (max-width: 764px) {
        height: 130vw;
    }
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.content {
    margin: 0 auto;
    padding-top: 185px;
    position: relative;
    
    @media (max-width: 1200px) {
        padding-top: 20vw;
    }
}

.strips {
    position: absolute;
    top: 805px;
    height: 84px;
    left: 0;
    z-index: 8;

    
    @media (max-width: 1200px) {
        top: 98vw;
    }

    @media (max-width: 764px) {
        top: 130vw;
    }
}

.title {
    font-size: 210px;
    color: #fff;
    text-align: center;
    font-family: 'KingOfThieves';
    line-height: 1.8;

    @media (max-width: 1200px) {
        font-size: 18vw;
    }
}

.gif {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    width: 980px;
    height: 560px;
    z-index: 1;

    @media (max-width: 1200px) {
        width: 130vw;
        height: 70vw;
        top: 15vw;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: relative;
    z-index: 2;
    margin-top: 95px;

    & button {
        width: 216px;
    }

    @media (max-width: 1200px) {
        margin-top: 30vw;
    }
    @media (max-width: 764px) {
        flex-direction: column;
        gap: 0;
        &__button {
            width: 100%;
            margin-top: 5vw;
        }
        & button {
            width: 100%;
        }
    }
}