@import url(./fonts.css);

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }

  html {
    font-family: 'AIBrayan', system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    z-index: 1;
    display: block;

    font-size: 20px;
  }

  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
  }

  a {
    text-decoration: none;
    -webkit-app-region: no-drag;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-bottom: 0.5rem;
    color: white;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.5rem;
    text-align: left;
    color: #2d2d30;
  }

  h2 {
    font-size: 1.6rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: none;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 600;
    text-transform: none;
  }

  img,
  a,
  picture {
    -webkit-user-drag: none;
  }

  img {
    max-width: 100%;
    border: 0 none;
    outline: 0 none;
  }

  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #ddd;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  td {
    padding: 0.25rem 0.4rem;
    border: 1px solid #4d4948;
  }

  ul,
  ol {
    list-style-position: inside;
    -webkit-app-region: no-drag;
  }

  button {
    font-family: inherit;
    -webkit-app-region: no-drag;
  }

  iframe {
    margin: 0;
    padding: 0;
  }

  [hidden] {
    display: none;
  }

  #root {
    user-select: none;
    height: 100vh;
    height: 100svh;
    width: 100vw;
  }

  [data-icon='support_agent'] {
    display: inline-block;
    background: url('//cdn01.x-plarium.com/browser/content/chat/icons/icon_support_agent.svg');
    width: 12px;
    height: 12px;
    margin-left: 5px;
    vertical-align: middle;
  }