.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
}

.social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    
    & svg {
        fill: #fff;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
    }

    &:hover {
        background-color: #24A1DE;
    }
    
    &--twitter {
        &:hover {
            background-color: #15181a;
        }
    }
    
}