.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);

    
    @media (max-width: 1200px) {
        right: 15px;
    }
    
    @media (max-width: 764px) {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        justify-content: center;
        margin-top: 2vw;
        gap: 15px;
    }
}

.social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    
    & svg {
        fill: #fff;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
    }

    &:hover {
        background-color: #24A1DE;
    }
    
    &--twitter {
        &:hover {
            background-color: #15181a;
        }
    }

    @media (max-width: 1200px) {
        width: 30px;
        height: 30px;

        &__icon {
            width: 18px;
        }
    }

    @media (max-width: 764px) {
        width: 60px;
        height: 60px;

        &__icon {
            width: 45px;
            height: 45px;
        }
    }
}